:root{
    --key-default-col: rgb(35, 37, 43);
    --key-default-col-d: hsl(225, 10%, 5%);
    --key-default-col-l: hsl(225, 10%, 50%);
    --key-red-col: hsl(3, 69%, 60%);
    --key-red-col-l: hsl(3, 69%, 70%);
}

.keyDefault{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 56%;

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    box-sizing: border-box;

    border-top: 3px;
    border-right: 3px;
    border-left: 1px;
    border-bottom: 1px;

    border-style: solid;
    border-color: var(--key-default-col);
    border-bottom-color: var(--key-default-col-d);
    border-left-color: var(--key-default-col-d);

    border-bottom-left-radius: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 6px;

    box-shadow: 
        inset -1px 1px 1px var(--key-default-col-l),
        inset 1px -1px 1px var(--key-default-col-d);

    transition: 0.1s ease;
}

.keyRed{
    border-color: var(--key-red-col);
    border-bottom-color: var(--key-default-col);
    border-left-color: var(--key-default-col);

    box-shadow:
        inset -1px 1px 1px var(--key-red-col-l),
        inset 1px -1px 1px var(--key-default-col-d);
}

.keyDefault:active {
    filter: brightness(0.75);

    border-top: 1px;
    border-right: 1px;
    border-left: 3px;
    border-bottom: 3px;

    border-color: var(--key-default-col);
    border-style: solid;

    border-bottom-left-radius: 7px;
    border-top-right-radius: 5px;

    box-shadow: 
        inset -1px 1px 1px var(--key-default-col-d);
}

.cell{
    position: relative;
}
